{{ define "title" }}
    {{ .Site.Title }} | {{ .Title }}
{{ end }}

{{ define "main" }}
    <div class="Page">
        {{ partial "header" . }}
        <div class="vertical-flex">
            <main class="Content  vertical-flex__fill  PageWidth">
                <div class="Content__backlink">
                    <a href="/projects">&lt; Back to projects</a>
                </div>
                {{ if .Params.draft }}<span class="draft-label">Draft</span>{{ end }}
                <h1>
                    {{ .Title }}
                    {{ if .Params.image }}
                    <img class="project-image" src="{{ .Params.image }}" />
                    {{ end }}
                </h1>

                <!-- Markdown -->
                {{ .Content }}
            </main>
            {{ partial "footer" . }}
        </div>
    </div>
{{ end }}
