<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ block "title" . }}{{ end }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ partial "meta" . }}

        {{ partial "google-fonts" . }}
        {{ $styles := resources.Get "css/index.scss" | resources.ExecuteAsTemplate "style.index.scss" . | toCSS | resources.PostCSS (dict "config" "postcss.config.js") | minify | fingerprint }}
        {{ $style := $styles | resources.ToCSS | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink | relURL }}" integrity={{ $style.Data.Integrity }} >
    </head>

    <body>
        {{ block "main" . }}{{ end }}
    </body>
</html>
