.Error404 {
    display: flex;
    justify-content: center;
    max-width: 60em;
    margin: 0 auto;
    flex-direction: column-reverse;

    @media only screen and (min-width: $large) {
        flex-direction: row;
    }

    &__text {
        max-width: 18em;
        margin: 1em auto 0 auto;
        text-align: center;

        @media only screen and (min-width: $large) {
            width: 40%;
            padding-top: 4em;
            margin: 0 5%;
            text-align: left;
        }

        &__header {
            @include h1-like;
        }
        &__paragraph {
            @include paragraph-like;
            margin-bottom: 4em;
        }
        &__link {
            @include a;
            color: $fg;
        }
    }
    &__image {
        width: 100%;
        margin: 3em auto 0 auto;
        text-align: center;

        @media only screen and (min-width: $large) {
            width: 60%;
            margin: 0;
        }
        img {
            max-width: 40em;
            width: 100%;
        }
    }
    .footer {
        text-align: center;
    }
}
