@mixin markdown {
    h1 {
        @include h1-like;
        margin-bottom: 1em;
        position: relative;

        .project-image {
            height: 4em;
            position: relative;
            display: block;
            margin: .5em auto 0em;
            z-index: -1;

            @media only screen and (min-width: 700px) {
                margin: 0;
                position: absolute;
                top: -2.75em;
                right: 0;
            }
        }
    }
    h2 {
        @include h2-like;
        margin: 1em 0 1em;
    }
    h3 {
        @include h3-like;
        margin: 1em 0 1em;
    }
    h4 {
        @include h3-like;
        font-size: 1.1em;
        margin: 1em 0 1em;
    }
    h5 {
        @include h3-like;
        font-size: 1.05em;
        margin: 1em 0 1em;
    }
    p {
        @include paragraph-like;
        width: 100%;
        margin-bottom: 1em;

        a {
            color: inherit;
            color: $accent;
            transition: color .2s, background-color .2s;
            padding: .2em .3em;
            margin: -.2em -.3em;

            &:hover {
                color: lighten($accent, 15%);
                background-color: rgba(#172a45, .7);
            }
        }
        code {
            border-radius: 3px;
            padding: 2px 4px;
            color: $accent;
            background-color: lighten($bg, 10%);
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
        }
    }
    sup {
        vertical-align: super;
        font-size: .8em;
    }
    a {
        @include reset-a;
        color: $accent;
        transition: color .2s, background-color .2s;
        padding: .2em .3em;
        margin: -.2em -.3em;

        &:hover {
            color: lighten($accent, 15%);
            background-color: rgba(#172a45, .7);
        }
    }
    & > a {
        @include a;
        font-size: .8em;
        color: $fg;

        &::before {
            content: '[ ';
        }
        &::after {
            content: ' ]';
        }
    }
    a.footnote-ref, a.footnote-backref {
        padding: 0 0 0 3px;
        text-decoration: none;
        margin: unset;

        &:hover {
            text-decoration: underline;
            background-color: inherit;
            color: $accent;
        }
    }
    hr {
        margin: 2em 0;
        color: $main;
    }

    ul {
        list-style-type: none;
        margin-top: 2em;
        margin-bottom: 2em;

        & > li {
            @include paragraph-like;
            position: relative;
            margin-left: 1.25em;
            margin-bottom: .5em;

            &::before {
                content: '* ';
                position: absolute;
                top: 0;
                left: -1.25em;
            }
        }
    }
    ol {
        counter-reset: section;
        list-style-type: none;
        margin-top: 2em;
        margin-bottom: 2em;

        & > li {
            @include paragraph-like;
            position: relative;
            margin-left: 2em;
            margin-bottom: .5em;

            &::before {
                content: counter(section) ". ";
                counter-increment: section;
                position: absolute;
                top: 0;
                left: -2em;
            }
        }
    }
    li > ol {
        counter-reset: section;
        margin: 1em 0 1em 2em;

        li {
            font-size: 1em;
        }
    }
    li > ul {
        margin: .5em 0 .5em 2em;
        list-style-type: none;

        li {
            font-size: 1em;
        }
    }

    // Code block
    .highlight {
        position: relative;
        margin: 2em 0 2em;
    }
    .highlight {
        background-color: lighten($bg, 3%);

        div.chroma {
            border-radius: 5px;
            position: static;
            padding: 1.2em;
            overflow-x: scroll;
            scrollbar-width: none;

            table {
                font-size: 1em;
                padding: .5em !important;
                margin: 0;
                border: 0;

                pre {
                    &:not([class^=language-]) {
                        margin-right: 1em;
                    }
                    [class^=language-]::after {
                        // Programming language label
                        content: attr(data-lang);
                        padding: .05em .4em;
                        position: absolute;
                        top: .5em;
                        right: .5em;
                        margin-left: 1em;
                        color: $accent;
                        background-color: lighten($bg, 10%);
                    }
                }
                td {
                    // font-size: 1em;
                    line-height: 1.2;
                }
                // Don't allow users to select numbers
                td:first-child {
                    user-select: none;
                }
            }
        }
    }

    table {
        border-collapse: collapse;
        border: 1px solid white;
        color: $fg;
        font-size: .8em;
        font-family: $mono;
        margin: 1em auto 1em;

        th, td {
            &:not([class="lntd"]) {
                border: 1px solid $accent;
                padding: .5em;
            }
        }
        td {
            font-size: .8em;

            a {
                @include reset-a;
                text-decoration: underline;
            }
        }
    }

    blockquote {
        margin: 2em 0;
        border-left: 4px solid $fg;
        padding: .5em 0 .5em 1em;
        background-color: lighten($bg, 10);

        p {
            @include paragraph-like;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    figure {
        text-align: center;
        width: 100%;
        margin: 1em auto;
        display: block;

        img {
            max-width: 80%;
            max-height: 25em;
            margin-bottom: .5em;
        }
        figcaption > p {
            font-size: .8em;
            width: 100%;
            display: block;
            text-align: center;
        }
        a:hover {
            background-color: unset;
        }
    }

    .katex {
        text-align: center;
        color: $fg;
    }

    section.footnotes {

        hr {
            margin-bottom: 1em;
        }
        ol > li > p {
            font-size: 1em;
            display: inline
        }
    }
}
