.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    // Sticks the footer at the bottom
    position: sticky;
    
    /*
     * Using a negative bottom causes it to not follow
     * the bottom of the page, but stop when it hits
     * content. There seems to be a bug in firefox
     * where if it is small, like -1em, the scroll seems
     * to slow down... but making it big doesn't seem to
     * have adverse effects...
     */
    bottom: -999em;

    p {
        @include paragraph-like;
        font-size: .7em;
        color: $fg;

        a {
            @include reset-a;
            text-decoration: underline;
        }
    }

    @media only screen and (min-width: $large) {
        font-size: 1.2rem;
    }

    ul {
        list-style-type: none;
        display: flex;

        li {
            font-size: .8em;
            color: $fg;
            font-family: $mono;

            &:not(:first-child)::before {
                content: '/';
                color: $accent;
                margin: 0 .5em;
            }
            a {
                color: inherit;
                text-decoration: none;
                transition: color .2s;

                &:hover {
                    color: $accent;
                }
            }
        }
    }
}
