.Header {

    @media only screen and (min-width: $large) {
        padding: 2rem;
        margin-bottom: 1em;
    }
    &__title {
        @include h2-like;
        margin-bottom: 1em;

        // Hide title on small screens
        display: none;
        @media only screen and (min-width: $large) {
            display: block;
        }
    }
}
