// Styles just used for the homepage page
.banner {
    min-height: 20em;

    @media only screen and (min-width: 400px) {
        // margin-top: 10vh;
        font-size: 1.2em;
    }
    @media only screen and (min-height: 700px) {
        margin-top: 10vh;
    }
    @media only screen and (min-width: $large) {
        font-size: 1.3em;

        &__border-wrap {
            display: flex;
            align-items: stretch;

            // Border between text and nav
            &::after {
                content: "";
                border-right: 3px solid $fg;
                margin-left: 3rem;
            }
        }
    }
    @media only screen and (min-width: 1000px) {
        font-size: 1.6em;
    }
    &__nav-wrap {
        display: flex;
        align-items: center;
    }
    &__image {
        height: map-get($image-size, small);
        padding-top: 1em;
        padding-bottom: 1em;

        @media only screen and (min-width: 400px) {
            height: map-get($image-size, medium);
        }
        @media only screen and (min-width: $large) {
            height: map-get($image-size, large);
        }
        img {
            height: 100%;
            width: auto;
        }
    }
    &__text {
        padding: 1rem 0;
        position: relative;

        &__title {
            font-size: 2.5em;
            font-family: $sans;
            font-weight: 600;
            color: $main;
            margin-bottom: .25em;
            white-space: nowrap;
        }
        &__subtitle {
            font-size: 1.25em;
            font-family: $sans;
            font-weight: 500;
            color: $main;
            margin-bottom: 1.5rem;

            @media only screen and (min-width: $large) {
                font-size: .8em;
            }
        }
        &__description {
            font-size: .75rem;
            font-family: $mono;
            color: $fg;
            width: 85%;

            a {
                color: $accent;
                transition: color .2s, background-color .2s;
                padding: .2em .3em;
                margin: -.2em -.3em;

                &:hover {
                    background-color: rgba(#172a45, .7);
                }
            }

            @media only screen and (min-width: $large) {
                font-size: 1rem;
                max-width: 25em;
            }
        }
    }
    &__nav {
        font-size: .6em;
        display: none;
        list-style-type: none;
        text-align: left;
        margin-left: 2rem;

        @media only screen and (min-width: $large) {
            display: block;
        }
        &__link {
            font-family: $mono;
            color: $main;

            &:not(:last-child) {
                margin-bottom: 1.2em;
            }
            a {
                @include a;
                transition: color .2s;
            }
        }
    }
}
