@import 'reset';
@import 'variables';

$sans: {{ $.Site.Params.fonts.sans | default "sans-serif" }}, "sans-serif";
$mono: {{ $.Site.Params.fonts.mono | default "monospace" }}, "monospace";

@import 'chroma';
@import 'markdown';

@import 'page';
@import 'homepage';
@import '404';

@import 'nav';
@import 'page';
@import 'header';
@import 'footer';

body {
    background-color: $bg;
}
