<meta name="title" content="{{ .Site.Title }}">
<meta name="description" content="{{ .Site.Params.description }}">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{ .Site.Title }}">
<meta itemprop="description" content="{{ .Site.Params.description }}">
{{ $image := resources.Get "images/portrait.png" }}
{{ $og_image := $image.Resize "600x" }}
<meta itemprop="image" content="{{ $og_image.Permalink | relURL }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Site.BaseURL }}">
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ .Site.Params.description }}">
<meta property="og:image" content="{{ $og_image.Permalink | relURL }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Site.BaseURL }}">
<meta property="twitter:title" content="{{ .Site.Title }}">
<meta property="twitter:description" content="{{ .Site.Params.description }}">
<meta property="twitter:image" content="{{ $og_image.Permalink | relURL }}">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ resources.Get "favicons/apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ resources.Get "favicons/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ resources.Get "favicons/favicon-16x16.png" | relURL }}">
<link rel="manifest" href="{{ resources.Get "favicons/site.webmanifest" | relURL }}">
