<label for="nav-trigger" class="nav-trigger">[]</label>
<input type="checkbox" id="nav-trigger" />
<nav class="nav">
    <label for="nav-trigger" class="nav-overlay"></label>
    <p class="nav__homelink"><a href="/">Jack Greenberg</a></p>
    <ul class="nav__list">
        <li class="nav__list__link">
            <a href="/projects">Projects</a>
        </li>
        <li class="nav__list__link">
            <a href="/about">About</a>
        </li>
        <li class="nav__list__link">
            <a href="{{ (resources.Get "documents/resume.pdf").RelPermalink }}">Resume</a>
        </li>
    </ul>
</nav>
