{{ define "title" }}
    {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="Page  Homepage">
    {{ partial "nav" . }}
    <div class="vertical-flex">
        <main class="vertical-flex__fill  PageWidth  banner">
            <div class="banner__image">
                <img
                    src="{{ (resources.Get "images/illustration.png").RelPermalink }}"
                    alt="Illustration of Jack Greenberg"
                    title="Portrait by Ella Yehros"
                />
            </div>
            <div class="banner__nav-wrap">
                <div class="banner__border-wrap">
                    <div class="banner__text">
                        <h1 class="banner__text__title">
                            {{ .Site.Title }}
                        </h1>
                        <h2 class="banner__text__subtitle">
                            {{ .Site.Params.subtitle }}
                        </h2>
                        <p class="banner__text__description">
                            I’m an engineering student at <a href="http://www.olin.edu">Olin College of Engineering</a> in Needham, MA. I’m passionate about embedded software and electrical design. I also play jazz&nbsp;bass.
                        </p>
                    </div>
                </div>
                <ul class="banner__nav">
                    <li class="banner__nav__link">
                        <a href="/projects">Projects</a>
                    </li>
                    <li class="banner__nav__link">
                        <a href="/about">About</a>
                    </li>
                    <li class="banner__nav__link">
                        <a href="{{ (resources.Get "documents/resume.pdf").RelPermalink }}">Resume</a>
                    </li>
                </ul>
            </div>
        </main>
        {{ partial "footer" . }}
    </div>
</div>
{{ end }}
